.logo {
    text-decoration: none;
    font-size: 28px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    object-fit: cover;
    font-weight: bold;
    color: #222222;
    letter-spacing: 1px;
}
.logo span {
    font-size: 18px;
    color: #b06b35;
    margin-left: 4px;
    margin-right: 25px;
}
.nav-links {
    margin-left: 180px;
    display: flex;
    gap: 30px;
    padding: 11px;
}
.nav-links a {
    margin: 2px;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}
.nav-links a:hover {
    color: #b06b35;
}
.main-img {
     width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 25px;
}

.hero{
    margin: 0%;
    height: 450px;
    padding: 50px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-image: url(../img/hero-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-img{
     object-fit: cover;
     width: 100%;
}

.hero-content h1{
    font-size:60px;
    font-family: 'Times New Roman', Times, serif;
}

